.btn-borderless {
  border: none !important;
}

.btn-active {
  color: #fff;
  background-color: #6c757d;
}

.modal-body {
  padding: 1.5rem 3rem !important;
}

.modal-header {
  padding: 2rem 2rem 0 2rem !important;
}

.btn-purple {
  color: #fff;
  background-color: #7557e5;
  border-color: #7557e5;
}

form {
  display: flex;
}

.btn-green {
  background-color: #38c976;
  border-color: #38c976;
}

.ajust{
  margin-left: 0.3rem;
  margin-top: 1.2rem!important;
}
