@import '../../../globals.scss';
.p-10 {
  padding: 0px 10rem 0rem 10rem;
}

.ml-10 {
  margin-left: 9.4rem;
}

.box {
  display: flex;
}

.one {
  flex: 1;
}

.two {
  flex:1.5;
}

.label-login {
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
}

.info-login {
  color: #80888e;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.input-group-text {
  background-color: transparent;
}

.form-control-transparent {
  border-left: transparent;
}

.forget-password {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.01em;
  text-decoration-line: underline;
  color: #043659;
}

.d-inline.mx-auto.center {
  text-align: center !important;
  display: block !important;
}

.btn-login {
  background: $green;
  border: 1px solid $green !important;
  border-radius: 4px;
  padding: 10px 54px;
}

.modal-header {
  border-bottom: none !important;
}

.label-forgot-password {
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #0c1032;
}

.parragraph-forgot-password {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #8492a4;
}
.label-xrepots {
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  width: 50%;
  text-align: center;
  line-height: 100%;
  color: #ffffff;
}

.div-xreport {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.flex-1,
.flex-2 {
  flex: 1;
}

.bg-blue {
  background:$main-color;
  padding: 1.3rem 6rem;
}

.parragraph-xreports {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  width: 497px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.overflow-hidden {
  overflow: hidden;
}

.xport-img {
  width: 100%;
}

.carousel-indicators {
  position: relative;
  margin-right: 0px;
  margin-left: 0px;
}

.carousel-item {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.header-success-forgot{
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0.01em;
  color: #0C1032;
}

.header-success-send{
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.01em;
  color: #3D4857;
}

.btn-ok{
  background: #2ed47a;
  box-shadow: none;
  border-radius: 4px;
  width: 100px;
  border: 1px solid #2ed47a;
}

.labes{
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #334D6E;
}

.mt-10 {
  margin-top: 15rem!important;
}


@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
  .login{
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  .ml-10 {
    margin-left: 0px;
  }
  .p-10 {
    padding: 0px;
  }
  .login{
    padding: 0;
  }
}