<div class="box w-100 pl-md-3">
  <div class="pt-3 px-3 pt-md-5 px-md-5 overflow-hidden one">
    <div class="my-2 p-2  ">
      <div class="ml-4 mb-5" style="width: 220px;">
        <img class="icon-menu " src="../../../assets/svg/loginLogo.svg">
      </div>
    </div>
    <div class="login pl-5 pr-5">
      <h1 class="label-login mb-4 text-left">Restaurar contraseña</h1>
      <p class="lead info-login text-left">Establezca una nueva contraseña para su usuario.</p><br>
      <form [formGroup]="restoreForm" (ngSubmit)="onSubmit(template)">
        <div class="form-group">
          <label for="password" class="float-left labes">Nueva contraseña (mínimo 4 caracteres)</label>
          <div class="input-group mb-3 ">
            <input type="password" formControlName="password" class="form-control "
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }" minlength="4" required />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Se requiere la contraseña*</div>
              <div *ngIf="f.password.errors.minlength">
                Contraseña demasiado corta.
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="confirmPassword" class="float-left labes">Confirmar nueva contraseña</label>
          <div class="input-group mb-3 ">
            <input type="password" formControlName="confirmPassword" class="form-control "
              [ngClass]="{ 'is-invalid': (submitted && f.confirmPassword.errors) || !(f.password.value === f.confirmPassword.value) }"
              required />
            <div *ngIf="(submitted && f.confirmPassword.errors)" class="invalid-feedback">
              <div *ngIf="f.confirmPassword.errors.required">Se requiere confirmar la contraseña*</div>
            </div>
            <div *ngIf="!(f.password.value === f.confirmPassword.value)" class="invalid-feedback">
              <div>Las contraseñas no coinciden*</div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-primary btn-login">
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="text-center overflow-hidden d-none d-lg-block two">
    <img [src]="xreportImg[indexLabel]"class="xport-img">
    <div class="mx-auto bg-blue">
      <div class="text-center div-xreport">
        <h2 class="label-xrepots flex-1">Bienvenido a Reports</h2>
        <p class="lead parragraph-xreports flex-2">{{xportLabel}}</p>
        <ol class="carousel-indicators">
          <li (click)="selectXportLabel(0)" class="carousel-item" [ngClass]="{'active': indexLabel === 0}"></li>
          <li (click)="selectXportLabel(1)" class="carousel-item" [ngClass]="{'active': indexLabel === 1}"></li>
          <li (click)="selectXportLabel(2)" class="carousel-item" [ngClass]="{'active': indexLabel === 2}"></li>
        </ol>
      </div>
    </div>
  </div>
</div>

<!-- modal -->
<ng-template #template>
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 text-center" style="padding: 50px;">
        <div class="success" *ngIf="success">
          <img class="icon-menu " src="../../../assets/svg/success-forgot.svg"><br>
          <span class="header-success-forgot">Cambios guardados</span><br>
          <span class="header-success-send">Los cambios se guardaron exitosamente, por favor vuelva a iniciar sesión.</span><br><br>
          <button class="btn btn-primary btn-ok" (click)="sendToLogin()">
            ok
          </button>
        </div>
        <div class="fail" *ngIf="fail">
          <img class="icon-menu " src="../../../assets/svg/warning.svg"><br><br>
          <span class="header-success-forgot">¡Oops! Algo ha salido mal</span><br>
          <span class="header-success-send">{{error}}</span><br><br>
          <button class="btn btn-warning" (click)="modalRef.hide()">
            ok
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<div class="modal-backdrop fade in show" *ngIf='loading'>
  <div class="text-center mt-10">
    <br>
    <div class="col-md-12 text-center">
      <img src="assets/images/loading.gif" class="img-fluid" alt="Loading">
    </div>
  </div>
</div>
