.check-label-radio {
  margin: 3px 8px 0px;
}

.mat-form-field-flex {
  width: 60% !important;
}

.label-options-report {
  font-family: 'Encode Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #334d6e;
  cursor: pointer;
}

.visible {
  display: none;
}
